.projects {
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: gradient 10s ease infinite;
    background: linear-gradient(-45deg, #99dab6, #5DB6E8, rgba(255, 143, 102, 0.568), #9373FF), url("https://wallpapercave.com/wp/wp3067541.png");
    ;
    background-size: 400% 400%;
    color: rgb(0, 0, 0);
    padding: 35px;
    margin: auto;
}

#projects {
    clear: both;
}

.block {
    border-radius: 15px;
    padding: 25px 15px;
    background-color: rgba(255, 255, 255, 0.23);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.747);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 22px;
}

.projectHeader {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    letter-spacing: 1.8px;
    margin: auto;
    margin-bottom: 35px;
    border-bottom: 5px solid #218DCC;
}

.aboutMe {
    font-size: 22px;
    text-align: center;
    margin-bottom: 80px;
}

.info {
    margin-bottom: 25px;
}

.skills {
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    width: 80%;

    .skill {
        font-size: 19px;
        background-color: rgba(255, 216, 204, 0.822);
        border: .8px solid rgb(112, 109, 109);
        color: black;
        border-radius: 15px;
        padding: 22px;
        margin-left: 15px;
        margin-bottom: 15px;


        &:hover {
            opacity: .85;
        }
    }
}


.resume {
    background-color: rgba(94, 167, 216, 0.432);
    font-weight: 600;
    ;
}

.text {
    font-size: 18px;
    text-align: justify;

    .textHead {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1.5px;
    }
}

.buttons {
    position: relative;
    margin-top: 55px;

    a {
        border-radius: 15px;
        cursor: pointer;
        letter-spacing: 1.5px;
        font-size: 20px;
        padding: 8px 20px;
        border: none;
        color: black;
        margin-right: 7px;
        background-color: rgba(245, 240, 240, 0.562);

        &:hover {
            text-decoration: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            color: white;
            background-color: rgb(255, 6, 6);
        }
    }
}



.image {
    img:first-child {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 20px;

        &:hover {
            opacity: .85;
        }
    }
}

.tools {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(2, 4, 34);
    font-size: 15px;
    width: 100%;

    .tool {
        margin-right: 5%;
        padding: 9px;
        border: 3px solid rgb(148, 20, 3);
        border-radius: 15px;
        letter-spacing: 1.2px;
        margin-bottom: 10px;
    }
}

.desc {
    color: rgba(0, 0, 0, 0.87);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@media only screen and (max-width: 400px) {
    .tech {
        width: 240px !important;
    }

    .projectHeader {
        margin-top: 50px;
    }

    #info {
        margin-top: 20px
    }

    .buttons {
        display: flex;
        flex-direction: column;

        a {
            margin: auto;
            margin-bottom: 15px;
            width: 80%;
        }
    }


    .skills {
        margin-bottom: 20px;
        width: 100%;

        .skill {
            padding: 6px;
            font-size: 14px;
            margin-left: 5px;
        }
    }

    .tools {
        font-size: 11px;

        .tool {
            padding: 7px;
            margin-right: 1%;
        }
    }

    .text {
        font-size: 19px;
        text-align: justify;

        .textHead {
            font-size: 21px;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
}


@media only screen and (min-width:400px) and (max-width: 768px) {

    .aboutMe {
        font-size: 16px;
    }

    .skills {
        margin-bottom: 0;
        width: 90%;

        .skill {
            padding: 10px;
            font-size: 16px;
        }
    }
}


@media only screen and (min-width:300px) and (max-width: 655px) {}