.projects {
    margin-top: 15px;
    background-image: linear-gradient(to right bottom, rgb(227, 228, 228), rgba(4, 19, 11, 0.767)), url("https://i.pinimg.com/originals/b1/d4/3c/b1d43cc679ee4cfdb392ebc8cc59e354.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    padding: 35px;
    margin: auto;
}

.block {
    border-radius: 15px;
    padding: 25px 15px;
    background-color: rgba(76, 150, 140, 0.589);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.747);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 22px;
}

.projectHeader {
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.8px;
    margin: auto;
    margin-bottom: 65px;
    border-bottom: 3px solid blue;
}

.text {
    font-size: 18px;
    text-align: justify;

    .textHead {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1.5px;
        font-family: "Ubuntu";
    }
}

.buttons {
    position: relative;
    margin-top: 55px;

    a {
        border-radius: 15px;
        cursor: pointer;
        letter-spacing: 1.5px;
        font-size: 20px;
        padding: 8px 20px;
        border: none;
        color: black;
        margin-right: 7px;
        background-color: rgba(245, 240, 240, 0.562);

        &:hover {
            text-decoration: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            color: white;
            background-color: rgb(255, 6, 6);
        }
    }
}



.image {
    img:first-child {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 20px;

        &:hover {
            opacity: .85;
        }
    }
}

.tools {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(2, 4, 34);
    font-family: "Muli";
    font-size: 15px;
    width: 100%;

    .tool {
        margin-right: 5%;
        padding: 9px;
        border: 3px solid rgb(148, 20, 3);
        border-radius: 15px;
        letter-spacing: 1.2px;
        margin-bottom: 10px;
    }
}

.desc {
    color: rgba(0, 0, 0, 0.87);
}