@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


.nav-toggle {
    @include user-select;
    cursor: pointer;
    height: $nav-toggle-bar-height;
    left: .8%;
    position: fixed;
    top: 2rem;
    width: $nav-toggle-bar-width;
    z-index: $z-nav-toggle;

    &:hover {
        opacity: 0.8;
    }

    .nav-toggle-bar,
    .nav-toggle-bar::after,
    .nav-toggle-bar::before {
        @include center-vertically;
        @include transition(all 0.5s ease);
        background: $nav-toggle-bar-color;
        content: '';
        height: $nav-toggle-bar-height;
        width: 100%;
    }

    .nav-toggle-bar {
        margin-top: 0;
    }

    .nav-toggle-bar::after {
        margin-top: 2 * $nav-toggle-bar-height;
    }

    .nav-toggle-bar::before {
        margin-top: -2 * $nav-toggle-bar-height;
    }

    &.expanded .nav-toggle-bar {
        background: transparent;
    }

    &.expanded .nav-toggle-bar::after,
    &.expanded .nav-toggle-bar::before {
        background: $nav-color;
        margin-top: 0;
    }

    &.expanded .nav-toggle-bar::after {
        @include transform(rotate(45deg));
    }

    &.expanded .nav-toggle-bar::before {
        @include transform(rotate(-45deg));
    }
}

/* nav */
.nav {
    @include transition(left 0.5s ease);
    background: $nav-background;
    color: $nav-color;
    cursor: pointer;
    font-size: 2rem;
    height: 100vh;
    left: -$nav-width*1.2;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: $nav-width*1.2;
    z-index: $z-nav;

    &.expanded {
        left: 0;
    }

    ul {
        list-style: none;
        margin: auto;
        padding: 0;

        li,
        a {
            margin-top: 50px;
            margin-bottom: 30vh;

            &:hover {
                color: rgb(228, 74, 74);
            }
        }
    }
}

header {
    padding: 10px;
}

.header-nav {
    padding: 0 250px;
    margin-top: 25px;

    .logo {
        float: left;
        font-size: 10px;
        letter-spacing: 5px;
        text-transform: uppercase;

    }

    .img-logo {
        width: 55%;
    }
}

main {
    padding: 100px
}

.main-header {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(32, 31, 31, 0.8), rgba(0, 0, 0, 0.8)), url("https://images3.alphacoders.com/104/thumb-1920-1041825.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    border-left: 3px solid white;

    &--main {
        margin-left: 12px;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
        animation-name: moveInLeft;
        animation-duration: 7s;
        animation-timing-function: ease-out;
    }

    &--sub {
        margin-left: 12px;
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 11px;
        animation: moveInRight 1s ease-out;
    }

}

.main-text-box {
    position: absolute;
    top: 55%;
    left: 31%;
    transform: translate(-60%, -60%);
    user-select: none;
}

.btn-contact {
    cursor: pointer;
    outline: none;
    font-size: 1.7rem;
    border-radius: 15px;
    background-color: transparent;
    color: rgb(253, 180, 153);
    padding: 0.3em 1.1em;
    text-align: center;
    font-weight: normal;
    transition: box-shadow 300ms ease-in-out, color 300ms;
    border: 2px solid rgb(253, 252, 252);

    &:hover {
        color: white;
        box-shadow: 0 0 40px 40px rgb(216, 14, 14) inset;
    }

    &:focus {
        outline: none;
    }
}

@media only screen and (max-width: 768px) {
    .main-text-box {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .heading-primary {
        border: none;

    }
}

@media only screen and (max-width: 340px) {
    .heading-primary {
        border: none;

        &--main {
            font-size: 3rem;
            letter-spacing: .3rem;
        }

        &--sub {
            font-size: 1rem;
            letter-spacing: 15px;
        }
    }
}

@media only screen and (min-width:350px) and (max-width: 655px) {

    .nav-toggle {
        left: 2%
    }

    .heading-primary {
        border: none;

        &--main {
            font-size: 3rem;
            letter-spacing: 1rem;
        }

        &--sub {
            font-size: 1.5rem;
            letter-spacing: 8px;
        }
    }
}